div.modall.notify_modal
    div.modal_wrapper
        div.image
            img(src="./css/images/candle.png" alt="")
        div.text Your request has been taken...
        div.button_inc
            button(id="homepage") Homepage