div.modall.wwa_modal
    div.modal_wrapper
        div.image
            img(src="./css/images/candle.png" alt="")
        h1 Who We Are ?
        div.text We are the travelers who is unceasingly wandering between of the ages. You can find us in a second or in an age. We can be next to you or  your grave.  This is your chance, leave a message for yourself and we will be there for you only in the right time. Do not forget! We are in every moment to watch you.
        div.button_inc
            button(id="close") Close